/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 8;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(14, 32, 32);
    position: fixed;

}

main {
    bottom: 10px;
    padding-top: 60px;
}

/* interface */
h1 a {
    text-decoration: none;
    padding: 0 20%;
}

nav {
    text-align: center;
    margin: 0 auto;
}

ul {
    display: inline-flex;
}

nav ul li {
    padding: 10px;
    text-align: center;
    list-style: none;
}

nav ul li a {
    font-weight: 600;
    font-size: 15pt;
    color: #ffff;
    text-decoration: none;
}

#search {
    background-color: #ffffffcb;
    margin-right: 30px;
    border: none;
    border-radius: 10px;
}

/* carrocel */
.carrocel {
    justify-content: center;
    padding: 0 8%;
    overflow: hidden;
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.cont-carrocel {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide-box {
    min-width: 25%;
    position: relative;
}

.carrocel img {
    width: 100%;
    height: 100%;
    padding: 0 16%;
    object-fit: fill;
}


/* card's */
a {
    width: 100%;
    height: 100%;
    z-index: 8;
}

.position-card {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.card img {
    object-fit: fill;
    width: 100%;
    height: 100%;

}

.absolute img {
    width: calc(22%);
    height: calc(23%);
    padding-top: 25px;

}

.favorite_icon {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    width: 50px;
}

.absolute {
    width: 200px;
    position: absolute;
}

.absolute p {
    position: absolute;
    z-index: 2;
    color: gold;
    background-color: red;
    margin: none;
    padding: none;
    width: 200px;
    font-weight: 600;
    justify-content: center;

}

.card {
    background-color: darkred;
    margin: 10px;
    width: 200px;
    height: 300px;
}

/* card transition(Radio) */

#radio1:checked~.nav_auto #auto_bnt1,
#radio2:checked~.nav_auto #auto_bnt2,
#radio3:checked~.nav_auto #auto_bnt3,
#radio4:checked~.nav_auto #auto_bnt4,
#radio5:checked~.nav_auto #auto_bnt5,
#radio6:checked~.nav_auto #auto_bnt6,
#radio7:checked~.nav_auto #auto_bnt7,
#radio8:checked~.nav_auto #auto_bnt8,
#radio9:checked~.nav_auto #auto_bnt9,
#radio10:checked~.nav_auto #auto_bnt10 {
    transition: 0.25s;
    background-color: rgb(255, 0, 0);
    border: solid 1px rgb(255, 255, 255);
}

input[type="radio"] {
    display: none;
}

#radio1:checked~.cont-carrocel .slide-box:first-child {
    margin-left: 0%;
    transition: 2s;
}

#radio2:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -25%;
    transition: 2s;
}

#radio3:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -50%;
    transition: 2s;
}

#radio4:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -75%;
    transition: 2s;
}

#radio5:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -100%;
    transition: 2s;
}

#radio6:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -125%;
    transition: 2s;
}

#radio7:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -150%;
    transition: 2s;
}

#radio8:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -175%;
    transition: 2s;
}

#radio9:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -200%;
    transition: 2s;
}

#radio10:checked~.cont-carrocel .slide-box:first-child {
    margin-left: -225%;
    transition: 2s;
}


.nav_auto {
    max-width: 80%;
    position: absolute;
    margin-top: 360px;
    margin-left: 28px;
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

.nav_auto label {
    cursor: pointer;
}

.auto_bnt {

    background-color: #000500;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: solid 1px rgb(255, 255, 255);

    border-radius: 50%;
}

.auto_bnt:first-child {
    margin-left: 0;
}

/* animação de interação */
.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background-color: blueviolet;
}

nav ul li a:hover {
    color: blueviolet;
    transition: 0.2s;
}